{% extends "layout.html" %}

{% block content %}

{{vraag | safe }}
<form method="POST" action="" enctype="multipart/form-data">
    <div class="form-group"> 
    {{ form.csrf_token }}
    {% if form.answer %}
        <!-- {{ form.answer.label(class="form-control-label") }}  -->
        {{ form.answer(size=20, class="form-control form-control-lg") }}
    {% elif form.picture %}
        <!-- {{ form.picture.label() }} -->
        {{ form.picture(class="form-control-file") }}
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
        {% endif %}
    {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form>

{% endblock content %}